@using WebApplication1.Models;
@model List<food>

@{
    foreach (var foodsintype in Model)
    {
        <div class="blog-item item swin-transition">
            <div class="block-img">
                <img src="~/assets/images/hinh_mon_an/@foodsintype.image" alt="" class="img img-responsive">
                <div class="block-circle price-wrapper"><span class="price woocommerce-Price-amount amount"><span class="price-symbol">$</span>@foodsintype.price</span></div>
                <div class="group-btn"><a href="@Url.Action("Index","FoodDetail",new {@id = @foodsintype.id ,@idtype = @foodsintype.id_type})" class="swin-btn btn-link"><i class="@Url.Action("AddItem","Cart",new { @id = @foodsintype.id,@quantity = 1 })"></i></a><a href="javascript:void(0)" class="swin-btn btn-add-to-card"><i class="fa fa-shopping-basket"></i></a></div>
            </div>
            <div class="block-content">
                <h5 class="title"><a href="javascript:void(0)">@foodsintype.name</a></h5>
            </div>
        </div>
    }
}
