@using WebApplication1.Models;
@model List<FoodTypeView>

@{
    foreach (var foodsintype in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item item swin-transition">
                <div class="block-img">
                    <img src="~/assets/images/hinh_mon_an/@foodsintype.image" alt="" class="img img-responsive" style="height:250px; width:250px;">
                    <div class="block-circle price-wrapper"><span class="price woocommerce-Price-amount amount"><span class="price-symbol">$</span>@foodsintype.price.ToString("N0")</span></div>
                    <div class="group-btn"><a href="@Url.Action("Index","FoodDetail",new {@id = foodsintype.id,@idtype=foodsintype.typeid })" class="swin-btn btn-link"><i class="icons fa fa-link"></i></a><a href="@Url.Action("AddItem","Cart",new { @id = @foodsintype.id,@quantity = 1 })" class="swin-btn btn-add-to-card"><i class="fa fa-shopping-basket"></i></a></div>
                </div>
                <div class="block-content">
                    <h5 class="title"><a href="@Url.Action("Index","FoodDetail",new {@id = foodsintype.id,@idtype=foodsintype.typeid })">@foodsintype.foodName</a></h5>
                    <div class="product-info">
                        @foodsintype.sumary
                    </div>
                </div>
            </div>
        </div>
    }
}
